// Base Fonts
$font : 'OpenSans';
$font-path: '../assets/fonts/';


@font-face {
    font-family: #{$font};
    src: local('#{$font}-Regular'),
         local('#{$font} Regular'),
         url('#{$font-path}#{$font}-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: 1.36182;
}

@font-face {
    font-family: #{$font};
    src: local('#{$font}-SemiBold'),
         local('#{$font} SemiBold'),
         url('#{$font-path}#{$font}-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    line-height: 1.36182;
}